<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.codelabs.mdc.java.smartburger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher1"
        android:supportsRtl="true"
        android:name="com.google.codelabs.mdc.java.smartburger.application.ShrineApplication"
        android:theme="@style/Theme.Shrine">
        <activity android:name="com.google.codelabs.mdc.java.smartburger.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     <activity android:name="com.google.codelabs.mdc.java.smartburger.ServiceActivity"/>
     <activity android:name="com.google.codelabs.mdc.java.smartburger.MiCuenta"/>
     <activity android:name="com.google.codelabs.mdc.java.smartburger.PersonalizaActivity"/>
     <activity android:name="com.google.codelabs.mdc.java.smartburger.CarritoActivity"/>
     <activity android:name="com.google.codelabs.mdc.java.smartburger.MisPedidosActivity"/>
        <service android:name="com.google.codelabs.mdc.java.smartburger.ShakeService"></service>
    </application>
</manifest>
